
  .container{
    background-color: whitesmoke;
    display: flex;
    gap: 20px;
    padding: 40px;
    font-family: Arial;
  }

  .card{
    background-color: rgb(183, 183, 183);
    width: 300px;
    padding: 20px;
    border: 1px solid ;
    border-radius: 8px;
    text-align: left;
  }

  .card button{
    margin-top: 10px;
    padding: 6px 16px;
    background: green;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
  }
